/* media queries */
@media screen and (min-width: 768px) {
    .fonctionnement-box {
        display: flex;
        justify-content: space-between;
        flex-direction: inherit;
    }
    .fonctionnement-button {
        width: 100%;
    }
    #restaurants {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: inherit;
    }
    #restaurants h2 {
        min-width: 95%;
    }
    #restaurants a {
        width: 40%;
    }
    footer ul {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        font-size: 20px;
    }
    footer h1 {
        font-size: 40px;
        margin: 0 40%;
    }
}