%btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: hidden;
    margin: auto;
    position: relative;
    height: 50px;
    min-width: 200px;
    margin-top: 10px;
    margin-bottom: 50px; 
    border-radius: 100px;
    color: $app-bg;
    background: $linear-gradient;
    box-shadow: 0 0 8px 0 $btn-color-gray;  
    &:hover {
        opacity: .8!important;
        box-shadow: $btn-color-gray 0 1px 5px 2px;
        transition: 0.2s ease-in-out;
    }
}