%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
%btn {
    animation: fondu-in 0.2s ease-out;
    animation-delay: 0.8s;
    animation-fill-mode:forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    border: hidden;
    margin: auto;
    height: 50px;
    min-width: 200px;
    border-radius: 100px;
    color: var(--app-bg);
    background: $linear-gradient;
    box-shadow: 0 0 8px 0 $btn-color-gray;
    position: relative;
    margin-top: 10px;
    margin-bottom: 50px;
    &:hover {
        opacity: .8;
        box-shadow: $btn-color-gray 0 1px 5px 2px;
        transition: 0.2s ease-in-out;
    }
}